---
import ShareButtons from '../../components/ShareButtons.astro';
import Layout from '../../layouts/Layout.astro';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => {
        return {
            params: {
                slug: post.slug,
            },
            props: {
                post,
            },
        };
    });
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();

const canonicalUrl = `https://bdadam.com/blog/${post.slug}.html`;
const title = post.data.title;
const abstract = post.data.abstract;
const formattedDate = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' }).format(new Date(post.data.date));
const publishedDate = new Date(post.data.date).toISOString().slice(0, 10);

const jsonLd = {
    '@context': 'https://schema.org',
    '@type': 'BlogPosting',
    headline: title,
    image: `https://bdadam.com/og/blog/${post.slug}.png`,
    genre: 'Web Development',
    url: canonicalUrl,
    datePublished: publishedDate,
    description: abstract,
    author: {
        '@type': 'Person',
        name: 'Adam Beres-Deak',
        url: 'https://bdadam.com/about.html',
    },
};
---

<Layout>
    <Fragment slot="head">
        <title>{title}</title>
        <meta property="og:title" content={post.data.title} />

        <meta name="description" content={abstract} />
        <meta property="og:description" content={abstract} />

        <link rel="canonical" href={canonicalUrl} />
        <meta property="og:url" content={canonicalUrl} />

        {remarkPluginFrontmatter.published === false && <meta name="robots" content="noindex" />}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@bdadamm" />
        <meta name="twitter:creator" content="@bdadamm" />
        <meta property="og:image" content={`/og/blog/${post.slug}.png`} />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    </Fragment>

    <main>
        <article class="blog-post">
            <h1>{title}</h1>

            <p class="article-date">
                {formattedDate}
                 &nbsp;&mdash;&nbsp;
                {remarkPluginFrontmatter.minutesRead}
                 &nbsp;&mdash;&nbsp;
                <a href="/about.html">Adam Beres-Deak</a>
            </p>

            {abstract && <p class="abstract">{abstract}</p>}

            <div class="markdown-body">
                <Content />
            </div>

            <section class="share-buttons">
                <h2>Share this with someone...</h2>
                <ShareButtons title={title} url={canonicalUrl} abstract={abstract} />
            </section>
            <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
        </article>
    </main>
</Layout>

<style>
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.3;
        padding: 1em 0 0.75em;
        position: relative;
        margin-bottom: 20px;
    }

    h1::before {
        content: '';
        background-color: #f1f1ff;
        position: absolute;
        /* height: 100%; */
        top: 0;
        bottom: 0;
        width: 4000px;
        left: -2000px;
        z-index: -1;
    }

    .article-date {
        color: #555;
        font-size: 1rem;
    }

    .blog-post :global(h2) {
        font-weight: bold;
        margin-block: 1.5rem 1rem;
        font-size: 1.5rem;
        line-height: 1.35;
    }

    .blog-post {
        max-width: 800px;
        margin-inline: auto;
    }

    .blog-post :global(p, .astro-code, ul, ol, iframe, table) {
        margin-bottom: 20px;
    }

    .blog-post :global(table) {
        th,
        td {
            color: red;
        }
    }

    .blog-post :global(table) td {
        padding: 2px;
    }

    .blog-post :global(table th) {
        font-weight: 600;
    }

    .blog-post :global(table th),
    .blog-post :global(table td) {
        padding: 6px 13px;
        border: 1px solid #d0d7de;
    }

    .blog-post :global(table tr) {
        background-color: #ffffff;
        border-top: 1px solid hsla(210, 18%, 87%, 1);
    }

    .blog-post :global(table tr:nth-child(2n)) {
        background-color: #f6f8fa;
    }

    .blog-post :global(table img) {
        background-color: transparent;
    }

    .abstract {
        font-weight: bold;
    }
</style>
