---
import Layout from '../../layouts/Layout.astro';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => {
        return {
            params: {
                slug: post.slug,
            },
            props: {
                post,
            },
        };
    });
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();

const canonicalUrl = `https://bdadam.com/blog/${post.slug}.html`;
const title = post.data.title;
const abstract = post.data.abstract;
const formattedDate = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' }).format(new Date(post.data.date));
const publishedDate = new Date(post.data.date).toISOString().slice(0, 10);
const urlEncoded = {
    title: encodeURIComponent(title),
    url: encodeURIComponent(canonicalUrl),
};
const mailtoUrl = `mailto:?subject=${urlEncoded.title}&body=${encodeURIComponent(
    title + '\n\n' + abstract + '\n\n' + canonicalUrl
)}`;

const jsonLd = {
    '@context': 'https://schema.org',
    '@type': 'BlogPosting',
    headline: title,
    image: `https://bdadam.com/og/blog/${post.slug}.png`,
    genre: 'Web Development',
    url: canonicalUrl,
    datePublished: publishedDate,
    description: abstract,
    author: {
        '@type': 'Person',
        name: 'Adam Beres-Deak',
    },
};
---

<Layout>
    <Fragment slot="head">
        <title>{title}</title>
        <meta name="description" content={abstract} />
        <link rel="canonical" href={canonicalUrl} />
        {remarkPluginFrontmatter.published === false && <meta name="robots" content="noindex" />}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@bdadamm" />
        <meta name="twitter:creator" content="@bdadamm" />
        <meta property="og:url" content={canonicalUrl} />
        <meta property="og:title" content={post.data.title} />
        <meta property="og:description" content={abstract} />
        <meta property="og:image" content={`/og/blog/${post.slug}.png`} />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    </Fragment>

    <main>
        <article class="blog-post">
            <h1>{title}</h1>
            <p class="article-date">
                {formattedDate}
                &nbsp;&mdash;&nbsp;
                {remarkPluginFrontmatter.minutesRead}
                &nbsp;&mdash;&nbsp;
                <a href="/about.html">Adam Beres-Deak</a>
            </p>
            {abstract && <p class="abstract">{abstract}</p>}
            <div class="markdown-body">
                <Content />
            </div>

            <section class="share-buttons">
                <script>
                    if ('share' in navigator) {
                        document.querySelector('.share-buttons')!.classList.add('native');
                    }
                </script>

                <h2>Share this with someone...</h2>
                <button class="native-share">
                    <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z"
                        ></path>
                    </svg>
                    Share
                </button>

                <a href={mailtoUrl}>
                    <svg
                        fill="none"
                        stroke="#EA4335"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                        ></path>
                    </svg>
                    E-mail</a
                >

                <a
                    rel="external nofollow noopener"
                    target="_blank"
                    href={`https://twitter.com/intent/tweet?text=${urlEncoded.title}&url=${urlEncoded.url}&via=bdadamm`}
                >
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#1DA1F2" aria-hidden="true">
                        <path
                            d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
                        >
                        </path>
                    </svg>
                    Twitter
                </a>

                <a
                    rel="external nofollow noopener"
                    target="_blank"
                    href={`https://www.facebook.com/sharer/sharer.php?u=${urlEncoded.url}`}
                >
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#1877F2" aria-hidden="true">
                        <path
                            d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
                        >
                        </path>
                    </svg>
                    Facebook
                </a>

                <a
                    rel="external nofollow noopener"
                    target="_blank"
                    href={`https://www.linkedin.com/sharing/share-offsite/?url=${urlEncoded.url}`}
                >
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#0A66C2" aria-hidden="true">
                        <path
                            d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
                        >
                        </path>
                    </svg>
                    Linkedin
                </a>

                <a
                    rel="external nofollow noopener"
                    target="_blank"
                    href={`https://reddit.com/submit?url=${urlEncoded.url}&title=${urlEncoded.title}&selftext=true`}
                    ><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#FF4500" aria-hidden="true">
                        <path
                            d="M12 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0zm5.01 4.744c.688 0 1.25.561 1.25 1.249a1.25 1.25 0 0 1-2.498.056l-2.597-.547-.8 3.747c1.824.07 3.48.632 4.674 1.488.308-.309.73-.491 1.207-.491.968 0 1.754.786 1.754 1.754 0 .716-.435 1.333-1.01 1.614a3.111 3.111 0 0 1 .042.52c0 2.694-3.13 4.87-7.004 4.87-3.874 0-7.004-2.176-7.004-4.87 0-.183.015-.366.043-.534A1.748 1.748 0 0 1 4.028 12c0-.968.786-1.754 1.754-1.754.463 0 .898.196 1.207.49 1.207-.883 2.878-1.43 4.744-1.487l.885-4.182a.342.342 0 0 1 .14-.197.35.35 0 0 1 .238-.042l2.906.617a1.214 1.214 0 0 1 1.108-.701zM9.25 12C8.561 12 8 12.562 8 13.25c0 .687.561 1.248 1.25 1.248.687 0 1.248-.561 1.248-1.249 0-.688-.561-1.249-1.249-1.249zm5.5 0c-.687 0-1.248.561-1.248 1.25 0 .687.561 1.248 1.249 1.248.688 0 1.249-.561 1.249-1.249 0-.687-.562-1.249-1.25-1.249zm-5.466 3.99a.327.327 0 0 0-.231.094.33.33 0 0 0 0 .463c.842.842 2.484.913 2.961.913.477 0 2.105-.056 2.961-.913a.361.361 0 0 0 .029-.463.33.33 0 0 0-.464 0c-.547.533-1.684.73-2.512.73-.828 0-1.979-.196-2.512-.73a.326.326 0 0 0-.232-.095z"
                        >
                        </path>
                    </svg>
                    Reddit
                </a>

                <a
                    rel="external nofollow noopener"
                    target="_blank"
                    href={`https://news.ycombinator.com/submitlink?u=${urlEncoded.url}&t=${urlEncoded.title}`}
                    ><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#F0652F" aria-hidden="true">
                        <path
                            d="M0 24V0h24v24H0zM6.951 5.896l4.112 7.708v5.064h1.583v-4.972l4.148-7.799h-1.749l-2.457 4.875c-.372.745-.688 1.434-.688 1.434s-.297-.708-.651-1.434L8.831 5.896h-1.88z"
                        >
                        </path>
                    </svg>
                    Hackernews
                </a>
            </section>
            <script type="application/ld+json" set:html={JSON.stringify(jsonLd)}></script>
        </article>
    </main>
</Layout>

<style>
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.3;
        padding: 1em 0 0.75em;
        position: relative;
        margin-bottom: 20px;
    }

    h1::before {
        content: '';
        background-color: #f1f1ff;
        position: absolute;
        /* height: 100%; */
        top: 0;
        bottom: 0;
        width: 4000px;
        left: -2000px;
        z-index: -1;
    }

    .article-date {
        color: #555;
        font-size: 1rem;
    }

    .blog-post :global(h2) {
        font-weight: bold;
        margin-block: 1.5rem 1rem;
        font-size: 1.5rem;
        line-height: 1.35;
    }

    .blog-post {
        max-width: 800px;
        margin-inline: auto;
    }

    .blog-post :global(p, .astro-code, ul, ol) {
        margin-bottom: 20px;
    }

    .blog-post :global(table) {
        th,
        td {
            color: red;
        }
    }

    .blog-post :global(table) td {
        padding: 2px;
    }

    .blog-post :global(table th) {
        font-weight: 600;
    }

    .blog-post :global(table th),
    .blog-post :global(table td) {
        padding: 6px 13px;
        border: 1px solid #d0d7de;
    }

    .blog-post :global(table tr) {
        background-color: #ffffff;
        border-top: 1px solid hsla(210, 18%, 87%, 1);
    }

    .blog-post :global(table tr:nth-child(2n)) {
        background-color: #f6f8fa;
    }

    .blog-post :global(table img) {
        background-color: transparent;
    }

    .abstract {
        font-weight: bold;
    }

    .share-buttons > a,
    .share-buttons > button {
        border-radius: 4px;
        background-color: #f5f5f5;
        background-color: #fff;
        border: 1px solid #cdcdcd;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1;
        display: flex;
        appearance: none;
        height: 3rem;
        justify-content: center;
        align-items: center;
        padding-inline: 16px;
        font-size: 1rem;
        gap: 8px;
        cursor: pointer;
    }

    .share-buttons > a:hover,
    .share-buttons > button:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    }

    .share-buttons > a::after {
        content: '';
    }

    .share-buttons svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .share-buttons {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .share-buttons > h2 {
        grid-column: 1 / -1;
    }

    .share-buttons .native-share {
        display: none;
    }

    .share-buttons.native .native-share {
        display: flex;
    }
</style>
