---
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';

const blogPosts = (await getCollection('blog')).filter((p) =>
    process.env.NODE_ENV === 'production' ? p.data.published !== false : true
);

blogPosts.sort((p1, p2) => new Date(p2.data.date).getTime() - new Date(p1.data.date).getTime());

const jsonld = {
    '@context': 'http://schema.org',
    '@type': 'Blog',
    name: `Adam Beres-Deak's Personal Website and Blog`,
    url: 'https://bdadam.com',
    description:
        'rticles about JavaScript, TypeScript, AWS, CI/CD, Web Architecture, System Design, Frontend, Backend and Databases',
    publisher: {
        '@type': 'Person',
        name: 'Adam Beres-Deak',
        url: 'https://bdadam.com/about.html',
    },
    // potentialAction: {
    //     '@type': 'SearchAction',
    //     target: 'https://example.com/search.php?q={search_term}',
    //     'query-input': 'required name=search_term',
    // },
    blogPosts: blogPosts.map((post) => {
        return {
            '@type': 'BlogPosting',
            mainEntityOfPage: `https://bdadam.com/blog/${post.slug}.html`,
            headline: post.data.title,
            author: {
                '@type': 'Person',
                name: 'Adam Beres-Deak',
                url: 'https://bdadam.com/about.html',
            },
            image: `https://bdadam.com/og/blog/${post.slug}.png`,
        };
    }),
};
---

<Layout>
    <Fragment slot="head">
        <title>Adam Beres-Deak's Personal Website and Blog</title>
        <meta
            name="description"
            content="Articles about JavaScript, TypeScript, AWS, CI/CD, Web Architecture, System Design, Frontend, Backend and Databases"
        />
        <link rel="canonical" href="https://bdadam.com/" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@bdadamm" />
        <meta name="twitter:creator" content="@bdadamm" />
        <meta property="og:image" content={`/og/home.png`} />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    </Fragment>

    <main class="content-container">
        <div class="hero">
            <h1>Adam's Tech&nbsp;Blog</h1>
            <a class="who" href="/about.html">Who is Adam?</a>
        </div>
        <section>
            <h2>Articles</h2>
            <ul class="article-list">
                {
                    blogPosts.map((post) => {
                        return (
                            <li class="post-card">
                                <a class="post-link" href={`/blog/${post.slug}.html`}>
                                    {post.data.title}
                                </a>

                                <time
                                    class="post-date"
                                    datetime={new Date(post.data.date).toISOString().substring(0, 10)}
                                >
                                    {new Intl.DateTimeFormat('en-US', {
                                        dateStyle: 'long',
                                    }).format(new Date(post.data.date))}
                                </time>
                                {post.data.abstract && <p class="post-abstract">{post.data.abstract}</p>}
                                <a class="read-more" href={`/blog/${post.slug}.html`}>
                                    Read more <span class="sr-only">about {post.data.title}</span>
                                </a>
                            </li>
                        );
                    })
                }
            </ul>
        </section>
        <script type="application/ld+json" set:html={JSON.stringify(jsonld)}></script>
    </main>
</Layout>

<style>
    /* .hero {
        background-color: #f1f1ff;
        display: grid;
        align-items: center;
        justify-content: center;
        padding-inline: 24px;
        padding-block: 80px;
    } */

    /* h1 {
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.3;
    } */

    .hero {
        margin-bottom: 48px;
        position: relative;
        text-align: center;
    }

    h1 {
        padding: 1.25em 0 0.5em;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.3;
        color: #222;
    }

    .hero::before {
        content: '';
        background-color: #f1f1ff;
        position: absolute;
        /* height: 100%; */
        top: 0;
        bottom: 0;
        width: 4000px;
        left: -2000px;
        z-index: -1;
    }

    .who {
        display: inline-block;
        margin-inline: auto;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        border-bottom: 5px dotted #ccc;
        max-width: 800px;
        margin-inline: auto;
        margin-block: 40px;
    }

    .article-list {
        max-width: 800px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .post-link {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .post-date {
        display: block;
        color: #555;
        font-size: 0.9125rem;
        margin-block: 6px;
    }

    .post-abstract {
        /*  */
    }

    .read-more {
        color: #f41f56;
    }
</style>
