---
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';

const blogPosts = (await getCollection('blog')).filter((p) =>
    process.env.NODE_ENV === 'production' ? p.data.published !== false : true
);

blogPosts.sort((p1, p2) => new Date(p2.data.date).getTime() - new Date(p1.data.date).getTime());

const jsonld = {
    '@context': 'http://schema.org',
    '@type': 'Blog',
    name: `Adam Beres-Deak's Personal Website and Blog`,
    url: 'https://bdadam.com',
    description:
        'rticles about JavaScript, TypeScript, AWS, CI/CD, Web Architecture, System Design, Frontend, Backend and Databases',
    publisher: {
        '@type': 'Person',
        name: 'Adam Beres-Deak',
    },
    // potentialAction: {
    //     '@type': 'SearchAction',
    //     target: 'https://example.com/search.php?q={search_term}',
    //     'query-input': 'required name=search_term',
    // },
    blogPosts: blogPosts.map((post) => {
        return {
            '@type': 'BlogPosting',
            mainEntityOfPage: `https://bdadam.com/blog/${post.slug}.html`,
            headline: post.data.title,
            // author: {
            //     '@type': 'Person',
            //     name: 'Adam Beres-Deak',
            // },
            //         datePublished: '10 May, 2016',
            //         dateModified: '10 May, 2016',
            //         image: {
            //             '@type': 'imageObject',
            //             url: 'https://example.com/image/post-one-thumbnail.jpg',
            //             height: '200',
            //             width: '400',
            //         },
            //         publisher: {
            //             '@type': 'Organization',
            //             name: 'Blog name',
            //             logo: {
            //                 '@type': 'imageObject',
            //                 url: 'https://example.com/logo.png',
            //             },
            //         },
        };
    }),
};
---

<Layout>
    <Fragment slot="head">
        <title>Adam Beres-Deak's Personal Website and Blog</title>
        <meta
            name="description"
            content="Articles about JavaScript, TypeScript, AWS, CI/CD, Web Architecture, System Design, Frontend, Backend and Databases"
        />
        <link rel="canonical" href="https://bdadam.com/" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@bdadamm" />
        <meta name="twitter:creator" content="@bdadamm" />
        <meta property="og:image" content={`/og/home.png`} />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    </Fragment>

    <SiteHeader />

    <main>
        <h1>Adam Beres-Deak's Blog and Personal Website</h1>
        <section class="article-list">
            <ul>
                {
                    blogPosts.map((post) => {
                        return (
                            <li>
                                <h2 class="text-lg font-bold">
                                    <a href={`/blog/${post.slug}.html`}>{post.data.title}</a>
                                </h2>
                                <p class="text-slate-500">
                                    {new Intl.DateTimeFormat('en-US', {
                                        dateStyle: 'long',
                                    }).format(new Date(post.data.date))}
                                </p>
                                {post.data.abstract && <p>{post.data.abstract}</p>}
                                {post.data.tags && post.data.tags.length > 0 && (
                                    <p class="tags mt-1 flex gap-2">
                                        {post.data.tags.map((tag) => (
                                            <span class="p-2 bg-zinc-200 rounded">{tag}</span>
                                        ))}
                                    </p>
                                )}
                            </li>
                        );
                    })
                }
            </ul>
        </section>
        <script type="application/ld+json" set:html={JSON.stringify(jsonld)}></script>
    </main>
    <SiteFooter />
</Layout>

<style>
    .article-list {
        max-width: 80ch;
        margin-inline: auto;
    }

    li {
        margin-bottom: 20px;
    }
</style>
