---
layout: layout.hbs
title: Adam Beres-Deak - software developer, JavaScript enthusiast
---

<div class="index-head">
    <div></div>
    <h1 class="site-title">
        Adam Beres-Deak<br/>
        <small>software developer, JavaScript enthusiast</small>
    </h1>
</div>
<div class="container">
    <h3 class="center">Recent blog posts</h3>
    <hr/>
    {{#filterPostsDesc pages}}
        <article>
            <h2 class="center"><a href="/{{ relativeLink }}">{{data.title}}</a></h2>
            <p class="muted center">{{formatdate data.date "Do MMMM YYYY"}}</p>
            {{#markdown}}{{ data.abstract }}{{/markdown}}
            {{#if data.showfullpost}}
                {{#markdown}}{{{ page }}}{{/markdown}}
            {{ else }}
                <a href="/{{ relativeLink }}" class="btn btn-primary">read more</a>
            {{/if}}
        </article>
        {{#unless last}}<hr/>{{/unless}}
    {{/filterPostsDesc}}
</div>