---
layout:         layout.hbs
title:          Adam Beres-Deak
description:    My devblog about web development, JavaScript, NodeJS, CSS, less
---

<div class="index-head">
    <h1 class="site-title">Adam Beres-Deak</h1>
</div>

<p class="container" style="text-align: center; border-bottom: 1px solid #dedede; padding: 24px 0;">
    Hi, my name is Adam. I develop software for the web, run workshops and I really think that
    <br/>
    "The Web is the Platform".
</p>

<div class="container main">
    {{#latestPosts pages}}
        <article>
            <h2 class="center"><a href="/{{ relativeLink }}">{{data.title}}</a></h2>
            <p class="silent center">{{formatdate data.date "Do MMMM YYYY"}}</p>
            {{#markdown}}{{ data.abstract }}{{/markdown}}
            {{#if data.showfullpost}}
                {{#markdown}}{{{ page }}}{{/markdown}}
            {{ else }}
                <a href="/{{ relativeLink }}" class="btn-readmore">read more</a>
            {{/if}}
        </article>
        {{#unless last}}<hr/>{{/unless}}
    {{/latestPosts}}
</div>