---
layout: layout.hbs
---
<article class="container main full-post">
    <h1>{{ title }}</h1>
    <p class="silent">
        {{formatdate date "Do MMMM YYYY"}}
        | by <a href="/about.html">Adam Beres-Deak</a>
        {{#if page.tags}}
            | <i class="fa fa-tags"></i> {{#each page.tags}}{{this}}{{#unless @last}}, {{/unless}} {{/each}}
        {{/if}}
    </p>

    <div class="abstract">
    {{#markdown}}{{ abstract }}{{/markdown}}
    </div>

    {{#if image}}
    <img src="{{image}}?w=320" class="article-image">
    {{/if}}

    {{#markdown}}{{ body }}{{/markdown}}

    <p><a class="silent" href="https://plus.google.com/116380265342833844173?rel=author">by Adam Beres-Deak</a></p>

    <p class="share-bar">
        <a class="btn-share fb" href="https://www.facebook.com/sharer/sharer.php?u=http://bdadam.com/blog/{{ page.relativeLink }}" rel="external" target="_blank" title="Share on Facebook">{{ useicon "facebook" }} | Share</a>
        <a class="btn-share tw" href="http://twitter.com/share?url=http://bdadam.com/blog/{{ page.relativeLink }}" rel="external" target="_blank" title="Share on Twitter">{{ useicon "twitter" }} | Tweet</a>
        <a class="btn-share gp" href="https://plus.google.com/share?url=http://bdadam.com/blog/{{ page.relativeLink }}" rel="external" target="_blank" title="Share on Google+">{{ useicon "googleplus" }} | Share</a>
        <a class="btn-share li" href="http://www.linkedin.com/shareArticle?mini=true&url=http://bdadam.com/blog/{{ page.relativeLink }}" rel="external" target="_blank" title="Share on Linkedin">{{ useicon "linkedin" }} | Share</a>
    </p>

    <a id="comments"></a>

    <div id="disqus_thread"></div>

    <h4>Latest blog posts</h4>
    {{#latestPosts pages max=5}}
        {{#ifCond data.title "!==" ../title}}
            <p><a href="/blog/{{ relativeLink }}">{{data.title}} <span class="muted"><small>{{formatdate data.date "Do MMMM YYYY"}}</small></span></a></p>
        {{/ifCond}}
    {{/latestPosts}}
</article>

